<!DOCTYPE html>
<html>
<head>
  <title>Vilius Alaunis</title>
  <link rel="stylesheet" href="/css/aboutme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <link rel="icon" type="image/x-icon" href="/img/Aboutme/VA_white.png">
</head>
<body>
  <div class="container">
        <nav>
        <div class="nav-left">
          <a href="/"><img src="/img/Aboutme/VA_white.png" alt="Logo"></a>
        </div>
        <div class="nav-middle">
          <h1>Vilius Alaunis</h1>
        </div>
        <div class="nav-right">
          <div class="social-links">
            <a href="https://www.linkedin.com/in/viliusalaunis" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.github.com/vilkamini" target="_blank"><i class="fab fa-github"></i></a>
            <a href="mailto:viliusalaunis@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
      </nav>
        <section id="general" class="full-width-section">
          <div class="section-container">
            <div class="section-content">
              <div class="section-text">
                <h2>Facts about me</h2>
                <ul>
                    <li><strong>Age:</strong> 20</li>
                    <li><strong>Nationality:</strong> <span class="multi-color"><span class="color1">Lit</span><span class="color2">hua</span><span class="color3">nian</span></span></li>
                    <li><strong>Pronouns:</strong> He/Him/They/Them</li>
                    <li><strong>Languages:</strong> English, Lithuanian, Russian</li>
                    <li><strong>Hobbies:</strong> Gaming, Movies, Cycling</li>
                </ul>
              </div>
              <div class="section-image">
                <img src="/img/Aboutme/will-photo.jpg" alt="General Image">
              </div>
            </div>
          </div>
        </section>
        <section id="personality" class="full-width-section">
          <div class="section-container">
            <div class="section-content">
              <div class="section-text">
                <h2>Me & Past</h2>
                <p>I am <span class="color1">Vilius</span>, a Creative Media and Game Technologies student specialising in <span class="color2">programming</span>. In digital world, I started going by the name <span class="color3">willAlone</span> because that is my englishified name and surname. <br><br> As a <span class="color1">calm</span> and <span class="color2">goal-oriented</span> person I am keen on learning new things. In the past I have been a <span class="color3">Teacher</span>, teaching 1-4 graders programming; a <span class="color1">Co-Founder</span> of clothing brand Kwa.lt and a <span class="color2">Data Scientist</span> at Altum AI. But you know all that from my <a href="https://www.linkedin.com/in/viliusalaunis/"><span class="color3">LinkedIn</span></a> profile, right?</p>
              </div>
            </div>
          </div>
        </section>
        <section id="present" class="full-width-section">
          <div class="section-container">
            <div class="section-content">
              <div class="section-text">
                <h2>Present</h2>
                <p>For the past year I have been studying <span class="color1">Game Development</span> from all 6 sides (top and bottom included). I love it, as a <span class="color2">team leader</span> for the past 3/4 of the year I have learned tons: how to <span class="color3">plan work</span>, <span class="color1">delegate</span> tasks, <span class="color2">listen</span> and <span class="color3">guide</span> others which resulted in excellent grades in final assignments.<br><br> As a <span class="color1">programmer</span> I am quick to learn new languages and keen on deepening my knowledge of <span class="color2">mathematics</span>. That is why next year I am joining the <span class="color3">Honours program</span> with a focus on algorithms and data structures.</p>
              </div>
            </div>
          </div>
        </section>
        <section id="future" class="full-width-section">
          <div class="section-container">
            <div class="section-content">
              <div class="section-text">
                <h2>Future</h2>
                <p>I aspire to open my <span class="color1">own game studio</span>, and am determined to pursue <span class="color2">Master's degree</span> and become even better at <span class="color3">leadership</span> and management. I am set on going an <span class="color1">extra mile</span> to become a better person, better leader and a better friend.<br><br> I love opportunities to <span class="color2">grow</span> and show off my skills so please do not hesitate to <a href="https://www.linkedin.com/in/viliusalaunis/", target="_blank"><span class="color3">contact me</span></a>!</p>
              </div>
            </div>
          </div>
        </section>
  </div>
</body>
</html>