<!DOCTYPE html>
<html>
<head>
  <title>Vilius Alaunis</title>
  <link rel="stylesheet" href="/css/style_gpt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="/img/VA_white.png">
</head>
<body>
  <div class="container">
      <nav>
        <div class="nav-left">
          <img src="/img/VA_white.png" alt="Logo">
        </div>
        <div class="nav-middle">
          <h1>Vilius Alaunis</h1>
        </div>
        <div class="nav-right">
          <div class="social-links">
            <a href="https://www.linkedin.com/in/viliusalaunis" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.github.com/vilkamini" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.twitter.com/vilius_alaunis" target="_blank"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </nav>

      <section id="about" class="full-width-section">
        <div class="about-container">
          <div class="about-left">
            <img src="/img/will-photo.jpg" alt="Profile Photo">
          </div>
          <div class="about-right">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis tincidunt risus, ac lacinia odio. Sed fermentum magna eu dui ultricies, sit amet pulvinar sapien eleifend. Nulla facilisi.</p>
          </div>
        </div>
      </section>

      <section id="project-section-right" class="full-width-section smaller-section">
          <div class="projects-container">
            <div class="project-left">
              <h2><a href="/wildlandsinteractiveexperience" target="_blank">Wildlands Interactive Experience</a></h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis tincidunt risus, ac lacinia odio. Sed fermentum magna eu dui ultricies, sit amet pulvinar sapien eleifend. Nulla facilisi.</p>
              <div class="project-tags">
                <div class="tag">
                  <span class="tag-label">Team Size:</span>
                  <span class="tag-value">4</span>
                </div>
                <div class="tag">
                  <span class="tag-label">Time:</span>
                  <span class="tag-value">11 weeks</span>
                </div>
                <div class="tag">
                  <span class="tag-label">Role:</span>
                  <span class="tag-value">Programmer</span>
                </div>
              </div>
                <div class="project-links">
                <a href="https://github.com/VilkaMini/Block-III-3D" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://willalone.itch.io/zoo" target="_blank"><i class="fas fa-gamepad"></i></a>
              </div>
            </div>
            <div class="project-right">
              <img src="/img/wildlands-example.png" alt="Wildlands Screenshot">
            </div>
          </div>
      </section>

      <section id="project-section-left" class="full-width-section smaller-section">
          <div class="projects-container">
            <div class="project-left-left">
              <img src="/img/Terranova/terranovaPicture1.png" alt="Terranova Screenshot">
            </div>
              <div class="project-right-left">
              <h2><a href="/terranova/" target="_blank">Terranova (2nd block)</a></h2>
              <p>Control an extraterrestrial creature on it's quest to help humans with their daily needs while collecting fallen stars. A single-player adventure with a focus on Evil By Design psychological patterns.</p>
              <div class="project-tags-left">
                <div class="tag-left">
                  <span class="tag-label">Team Size:</span>
                  <span class="tag-value">5</span>
                </div>
                <div class="tag-left">
                  <span class="tag-label">Time:</span>
                  <span class="tag-value">7 weeks</span>
                </div>
                <div class="tag-left">
                  <span class="tag-label">Role:</span>
                  <span class="tag-value">Programmer</span>
                </div>
              </div>
                <div class="project-links">
                <a href="https://github.com/VilkaMini/Block-II-GameMaker-Game" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://willalone.itch.io/zoo" target="_blank"><i class="fas fa-gamepad"></i></a>
              </div>
            </div>
          </div>
      </section>
  </div>
</body>
</html>