<!DOCTYPE html>
<html>
<head>
  <title>Game Development Portfolio</title>
  <link rel="stylesheet" href="/css/style_gpt.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
    <nav>
      <div class="nav-left">
        <h1>Game Development</h1>
      </div>
      <div class="nav-middle">
        <img src="/img/VA_white.png" alt="Logo">
      </div>
      <div class="nav-right">
        <h2>Vilius Alaunis</h2>
      </div>
    </nav>

    <section id="about">
      <h2>About Me</h2>
      <p>Welcome to my game development portfolio! I am a passionate game developer with experience in creating immersive and interactive games.</p>
    </section>

      <h2>Projects</h2>
    <section id="projects">

      <div class="project">
        <h3>TerraNova</h3>
          <img src="/img/TerraNova.png" alt="Game Fantasy Balkan Simulator" class="project-image">
        <p>Description of the game project goes here.</p>
      </div>
      <div class="project">
        <h3>Interactive Wildlands Experience</h3>
          <img src="/img/game2.jpg" alt="Game Interactive Wildlands Experience" class="project-image">
        <p>Description of the game project goes here.</p>
      </div>
      <div class="project">
        <h3>Wordweaver</h3>
          <img src="/img/game3.jpg" alt="Game Wordweaver" class="project-image">
        <p>Description of the game project goes here.</p>
      </div>
      <!-- Add more project divs as needed -->
    </section>

      <footer>
      <h3><a href = "mailto: viliusalaunis@gmail.com">viliusalaunis@gmail.com</a></h3>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/viliusalaunis" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://www.github.com/vilkamini" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.twitter.com/vilius_alaunis" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>
  </div>
</body>
</html>