<!DOCTYPE html>
<html>
<head>
  <title>Vilius Alaunis</title>
  <link rel="stylesheet" href="/css/aboutme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <link rel="icon" type="image/x-icon" href="/img/Aboutme/VA_white.png">
</head>
<body>
  <div class="container">
      <embed src= "/img/Aboutme/Vilius%20Alaunis%20Resume.pdf" width= "2000" height= "1200" type="application/pdf">
  </div>
</body>
</html>