<!DOCTYPE html>
<html>
<head>
  <title>Vilius Alaunis</title>
  <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
  <link rel="icon" type="image/x-icon" href="/img/Aboutme/VA_white.png">
</head>
<body>
  <div class="container">
      <nav>
        <div class="nav-left">
          <img src="/img/Aboutme/VA_white.png" alt="Logo">
        </div>
        <div class="nav-middle">
          <h1>Vilius Alaunis</h1>
        </div>
        <div class="nav-right">
          <div class="social-links">
            <a href="https://www.linkedin.com/in/viliusalaunis" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.github.com/vilkamini" target="_blank"><i class="fab fa-github"></i></a>
            <a href="mailto:viliusalaunis@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
          </div>
        </div>
      </nav>
      <section id="about" class="full-width-section">
        <div class="about-container">
          
          <div class="about-right">
            <h2>About Me</h2>
            <p>I am a 20-year-old student from Lithuania, currently studying Creative Media & Game Technologies.<br><br>Previously worked as a Teacher and a Data Scientist I am pursuing a career in Game Development.<br><br><a href="/aboutme/" class="read-me-addition">Read more about me here!</a></p>
          </div>
        </div>
      </section>
      <section id="project-section-right" class="full-width-section smaller-section">
          <div class="projects-container">
            <div class="project-left">
              <h2><a href="/wildlandsinteractiveexperience/">Wildlands Interactive Experience</a></h2>
              <p>Play, feed and learn about an animal, and it's habitat with this interactive on-site Wildlands zoo experience. An edutainment game to be installed at every habitat in the zoo.  <a href="/wildlandsinteractiveexperience/" class="read-me-addition">Read more!</a></p>
              <div class="project-tags">
                <div class="tag">
                  <span class="tag-label">Team Size:</span>
                  <span class="tag-value">4</span>
                </div>
                <div class="tag">
                  <span class="tag-label">Time:</span>
                  <span class="tag-value">11 weeks</span>
                </div>
                <div class="tag">
                  <span class="tag-label">Role:</span>
                  <span class="tag-value">Programmer & Team Lead</span>
                </div>
              </div>
                <div class="project-links">
                <a href="https://github.com/VilkaMini/Block-III-3D" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://willalone.itch.io/zoo" target="_blank"><i class="fas fa-gamepad"></i></a>
              </div>
            </div>
            <div class="project-right">
              <a href="/wildlandsinteractiveexperience/"><img src="/img/WildlandsExperience/WildlandsRhinoPicture1.png" alt="Wildlands Screenshot"></a>
            </div>
          </div>
      </section>
      <section id="project-section-left" class="full-width-section smaller-section">
          <div class="projects-container">
            <div class="project-left-left">
              <a href="/terranova/"><img src="/img/Terranova/terranovaPicture1.png" alt="Terranova Screenshot"></a>
            </div>
              <div class="project-right-left">
              <h2><a href="/terranova/">Terranova (2nd block)</a></h2>
              <p>Control an extraterrestrial creature on it's quest to help humans with their daily needs while collecting fallen stars. A single-player adventure with a focus on Evil By Design psychological patterns.  <a href="/terranova/" class="read-me-addition">Read more!</a></p>
              <div class="project-tags-left">
                <div class="tag-left">
                  <span class="tag-label">Team Size:</span>
                  <span class="tag-value">5</span>
                </div>
                <div class="tag-left">
                  <span class="tag-label">Time:</span>
                  <span class="tag-value">7 weeks</span>
                </div>
                <div class="tag-left">
                  <span class="tag-label">Role:</span>
                  <span class="tag-value">Programmer & Team Lead</span>
                </div>
              </div>
                <div class="project-links">
                <a href="https://github.com/VilkaMini/Block-II-GameMaker-Game" target="_blank"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
      </section>
      <section id="project-section-right" class="full-width-section smaller-section">
          <div class="projects-container">
            <div class="project-left">
              <h2><a href="/wordweaver/">Wordweaver (Side Project)</a></h2>
              <p>Become a Wordweaver, construct requested words and do not run out of conveyor space unless you want to meet your worst boss yet - Phat Stacks. A fun and quick game about capitalism and importance of language.  <a href="/wordweaver/" class="read-me-addition">Read more!</a></p>
              <div class="project-tags">
                <div class="tag">
                  <span class="tag-label">Team Size:</span>
                  <span class="tag-value">4</span>
                </div>
                <div class="tag">
                  <span class="tag-label">Time:</span>
                  <span class="tag-value">12 weeks</span>
                </div>
                <div class="tag">
                  <span class="tag-label">Role:</span>
                  <span class="tag-value">Programmer & Team Lead</span>
                </div>
              </div>
                <div class="project-links">
              </div>
            </div>
            <div class="project-right vertical-picture">
              <a href="/wordweaver/"><img src="/img/Wordweaver/WordweaverPicture1.png" alt="Wordweaver Screenshot"></a>
            </div>
          </div>
      </section>
      <footer id="stack" class="full-width-section">
            <div class="stack-content">
                <h2>Technology stack</h2>
            </div>
            <div class="app-logos">
                <a><i class="devicon-unity-original" title="Unity"></i></a>
                <a><i class="devicon-csharp-plain" title="C# Language"></i></a>
                <a><i class="devicon-c-plain" title="C Language"></i></a>
                <a><i class="devicon-python-plain" title="Python Language"></i></a>
                <a><i class="devicon-blender-original" title="Blender"></i></a>
                <a><i class="devicon-illustrator-plain" title="Illustrator"></i></a>
                <a><i class="devicon-photoshop-plain" title="Photoshop"></i></a>
                <a><i class="devicon-jira-plain" title="Jira"></i></a>
                <a><i class="devicon-figma-plain" title="Figma"></i></a>
                <a><i class="devicon-azure-plain" title="Azure Services"></i></a>
                <a><i class="fab fa-aws" title="Amazon Web Services"></i></a>
                <a><i class="devicon-docker-plain" title="Docker"></i></a>
                <a><i class="devicon-flask-plain" title="Flask"></i></a>
            </div>
        </footer>
  </div>
</body>
</html>