<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>willalone</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
         integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
         crossorigin="anonymous" referrerpolicy="no-referrer" />
         <link rel="stylesheet" href="/css/style.css">
         <link rel="icon" href="/img/VA_white.png">
         <!-- Fonts (need to be updated) -->
         <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans
         +Pro:300,900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="/img/VA.png" alt="">
            </div>
            <button class="nav-toggle" aria-label="toggle nagivation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">My Services</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About Me</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">My Work</a></li>
                </ul>
            </nav>
        </header>

        <!-- Introduction -->

        <section class="intro" id="home">
            <h1 class="section__title section__title--intro">
                Hi, I am <strong>Vilius Alaunis</strong>
            </h1>
            <p class="section__subtitle section__subtitle--intro">Data Scientist</p>
            <img src="/img/will-photo.jpg" alt="a picture of Vilius Alaunis" class="intro__img">
        </section>

        <!-- My Work -->

        <section class="my-services" id="services">
            <h2 class="section__title section__title--services">What I do</h2>
            <div class="services">
                <div class="service">
                    <h3>Data Analysis</h3>
                    <p>The need of useful insights into different data was never higher in the world that we are living in.
                    I specialize in finding valuable information in data and use it to lead you to elucidation of a particular
                    problem.</p>
                </div> <!-- / service-->
                <div class="service">
                    <h3>Modeling</h3>
                    <p>I focus on using machine learning models to provide clients with solutions to their problem. 
                    I investigate each problem individually and arrive at the conclusion of what needs to be done to achieve
                    the ultimate resolution.</p>
                </div> <!-- / service-->
                <div class="service">
                    <h3>Hobby Projects</h3>
                    <p>I am working on data and not-data related projects all the time. From predicting my local shop's discounts
                    into the future to creating websites. In fact, this portfolio was created from scratch to enhance my skills.</p>
                </div> <!-- / service-->
            </div> <!-- / services-->
            <a href="#work" class="btn">My work</a>
        </section>

        <!-- About Me -->

        <section class="about-me" id="about">
            <h2 class="section__title section__title--about">Who I am</h2>
            <p class="section__subtitle section__subtitle--about">Data Scientist based out of Vilnius</p>
            <div class="about-me__body">
                <p>As my LinkedIn profile states, I am a futurist focused on smart explotation of resourses and sustainability. For as long as I can remember
                   I was obbsesed with technology and modern world and that is why I choose to enter the data domain as it is one of the most efficient ways
                   I am able to support the search of more innovative and groundbraking technologies that would help humankind advance further.
                </p>
                <p>I am a sagacious individual who can assist others on their decision making by providing necessary insights of a particular problem. I am also
                   a rational thinker capable of distinguishing most important goals and focusing on the process of achieving said goals.
                </p>
            </div>
            <img src="/img/will-standing.JPG" alt="Smiling Vilius standing with a toy bear in his arms" class="about-me__img">
        </section>

        <!-- My Work -->

        <section class="my-work" id="work">
            <h2 class="section__title section__title--work">My work</h2>
            <p class="section__subtitle section__subtitle--work">A selection of my work</p>
            <div class="portfolio">
                <!-- Portfolio item-->
                <a href="https://github.com/VilkaMini/vilius-portfolio/blob/main/work/basic-eda.ipynb" class="portfolio__item">
                    <img src="/img/exploratory-analysis.png" alt="Exploratory Analysis Jupyter Notebook" class="portfolio__img">
                    <p class="img__description">Exploratory Data Analysis Project</p>
                </a>
                <!-- Portfolio item-->
                <a href="https://github.com/VilkaMini/vilius-portfolio/blob/main/work/do-not-overfit2.ipynb" class="portfolio__item">
                    <img src="/img/data-overfit.png" alt="Overfit 2 Jupyter Notebook" class="portfolio__img">
                    <p class="img__description">Kaggle "Do not Overfit 2" Project</p>
                </a>
                <!-- Portfolio item-->
                <a href="https://github.com/VilkaMini/maxima-discount-scraper" class="portfolio__item">
                    <img src="/img/maxima-discount.png" alt="Maxima discount scraper" class="portfolio__img">
                    <p class="img__description">Maxima Discount Scraper Project</p>
                </a>
            </div>
        </section>
        <!-- Footer -->
        <footer class="footer">
            <a href="mailto:viliusalaunis@gmail.com" class="footer__link">viliusalaunis@gmail.com</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.facebook.com/profile.php?id=100008506363844">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.linkedin.com/in/viliusalaunis/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://github.com/VilkaMini">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://twitter.com/vilius_alaunis">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.instagram.com/vilius_alaunis/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </footer>
        <script src="js/index.js"></script>
    </body>
</html>