<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vilius Alaunis</title>
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/img/VA_white.png">
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-left">
                <img src="/img/VA_white.png" alt="Logo">
            </div>
            <div class="nav-middle">
                <h1>Vilius Alaunis</h1>
            </div>
            <div class="nav-right">
                <div class="social-links">
                <a href="https://www.linkedin.com/in/viliusalaunis" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.github.com/vilkamini" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.twitter.com/vilius_alaunis" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </nav>
        <section id="about" class="full-width-section">
            <div class="about-container">
                  <div class="about-right">
                        <h2>Terranova</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis tincidunt risus, ac lacinia odio. Sed fermentum magna eu dui ultricies, sit amet pulvinar sapien eleifend. Nulla facilisi.</p>
                  </div>
            </div>
        </section>

    </div>
</body>
</html>