<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vilius Alaunis</title>
    <link rel="stylesheet" href="/css/project.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="/img/VA_white.png">
    <link href="/css/prism.css" rel="stylesheet"/>
</head>
<body>
<script src="/js/prism.js"></script>
    <div class="container">
        <nav>
            <div class="nav-left">
                <img src="/img/VA_white.png" alt="Logo">
            </div>
            <div class="nav-middle">
                <h1>Vilius Alaunis</h1>
            </div>
            <div class="nav-right">
                <div class="social-links">
                <a href="https://www.linkedin.com/in/viliusalaunis" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.github.com/vilkamini" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.twitter.com/vilius_alaunis" target="_blank"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </nav>
        <section id="about" class="full-width-section">
            <div class="about-container">
                  <div class="about-right">
                        <h2>Terranova</h2>
                        <p>A second block project, a fun and short game created with a goal to implement as many Evil by Design principles as possible without sacrificing crucial gameplay elements.</p>
                  </div>
            </div>
        </section>
        <section id="project-details" class="full-width-section">
            <div class="project-details-container">
                <div class="project-detail">
                    <h3>Game Genre</h3>
                    <p>Story Adventure</p>
                </div>
                <div class="project-detail">
                    <h3>Platform</h3>
                    <p>PC</p>
                </div>
                <div class="project-detail">
                    <h3>Engine</h3>
                    <p>Gamemaker</p>
                </div>
            </div>
        </section>
        <section id="game-description" class="full-width-section">
          <div class="game-description-container">
            <div class="game-description-text">
              <h2>About the Development</h2>
              <p>As an only programmer I was responsible for 100% of the game's code. I quickly mastered gamemaker language and was able to code essential game features like: <strong>Dialogue system</strong>, <strong>Fluent Movement</strong>, <strong>Inventory system</strong>.</p>
            </div>
            <div class="game-description-image">
              <img src="/img/TerranovaMapGif.gif" alt="Game Image">
            </div>
          </div>
        </section>


        <section id="development" class="full-width-section">
            <div class="development-container">
                <div class="development-text">

                    <pre class="code-block">
                        <code class="language-gml">
// If the room is village
if (room == Villages && global.interacting){
    char_name = global.char_name_pass;
    alarm[0] = 2;
    for (var i=0; i&lt;5; i++){
        // Check for interactable character
        if (npc_names[i] == char_name && global.quest_active == false){
            // Check if the the quest is the last one
            if (npc_counter[i] &lt;= npc_counter_max[i]){
                condition = global.array_quests[npc_counter[i]][2];
                // Go through inventory to check if condition is met
                for (var k=0; k&lt;array_length(global.inventory); k++){
                    item = global.inventory[k];
                    // Check if the item is collected
                    if ((item[item_name] == condition && item[item_owned] == item[item_max]) || condition == "" && global.quest_active == false){
                        if (global.array_quests[npc_counter[i]][3] != ""){
                            for (var p=0; p&lt;array_length;(global.inventory); p++){
                                item_give = global.inventory[p];
                                if (global.array_quests[npc_counter[i]][3] == item_give[0]){
                                    global.inventory[p][item_owned] += 1;
                                    break;
                                }
                            }
                        }
                        npc_dialogue_c = npc_counter[i];
                        if (npc_counter[i] != npc_counter_max[i]){
                            npc_counter[i] += 1;
                            global.array_quests[npc_counter[i]][0] = "Completed";
                        }
                        global.quest_active = true;
                    }
                }
            }
        }
    }
    text = global.array_quests[npc_dialogue_c][1];
    // Draw dialogue opener aka textbox and text
    draw_sprite(textbox, -1, _x, _y-45);
    draw_text_ext(_x, _y-45, text, 25, 900);
}
                        </code>
                    </pre>
                </div>
                <div class="development-description-text">
                    <h2>Dialogue system</h2>
                    <p>The Dialogue system checks for an NPC name, condition of quest progression and item ownership in order to progress further in a task from specific NPC.<br>The script also ads item to the inventory if the quest has a return item.</p>
                    <div class="development-image">
                        <img src="/img/TerranovaDialogueGif.gif" alt="Development Image">
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>